*{padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background: #B65FCF;
    background-size: cover;
    background-attachment: fixed;
    grid-template-rows: 60px auto;
    grid-template-areas: "header"
                        "contenedor ";
}


.header{
    grid-area: header;
    padding:0 20px;
    background: #311432;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo busqueda iconos" ;

}

.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
}
.logo .boton-menu{
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    color: #9867C5;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.logo .boton-menu:hover{
    background: #9867C5;
    color: #311432;
}

.contenedor{
    width: 100%;
    padding: 15px;
}


.main .grid-videos {
	display: grid;
	grid-gap: 40px 20px;
	grid-template-columns: repeat(4, 1fr);
}

.main .grid-videos .video {
	width: 100%;
	display: block;
    margin-top: 150px;
    padding: 3px;
}

.main .grid-videos .video img {
	width: 100%;
}




.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}
